body{
    background-color: lightgray;
    color: white;
}

.header{
   padding: 10px;
   background-color: black;
   text-align: center;
}
.header-img{
    background-color: black;
    padding: 20px;
    margin:5px;
    
}
.header-img img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.header-img p{
    text-align: center;
    font-size: 2rem;
}
.thought{
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-size: 4rem;
    color: black;
    font-weight: 800;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 100px;
}
 .hero-section .left-content{
    background-color: black;
    padding: 30px;
   

}
.left-content .name p{
    font-size: 3rem;
}
.left-content .about p{
    font-size: 2rem;
}
.left-content .about span{
    font-size:1.5rem;
    color: lightgray;

}
.right-section{
    background-color: black;
    padding: 30px;
}

.right-section p{
    font-size: 1.5rem;
    font-weight: 600;
    width: 50%;
    padding-top:5px ;
}
.footer{
    background-color: black;
    margin: 30px;
    padding: 20px;
    font-size: 3rem;
    text-align: center;
}
.footer button{
    background-color: beige;
    color: black;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
}
